table{
    width : 100%;
}
  
  mat-paginator{
    font-size: 15px;
  }
  
  .corrections-container{
    margin:auto;
    width : 90%;
    padding : 30px;
    height: 600px;
    overflow: initial;
  }
  
  .bouton-ajouter{
    margin-left : 50px;
  }
  
  
  .mat-row:hover {
    background-color: #53ffca;
    cursor: pointer;
  }

.btnAddCorrection {
  margin-left: 45px; 
}

app-spinner {
  z-index: 100 !important;;
  position: absolute;
  left: 40%;
  top : 25%;
}
