<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/general :: headerfiles (titre='Yucca - Liste des Programmes')">
	<meta charset="UTF-8">
</head>
<body>
	<!-- Navigation -->    
    <div th:replace="fragments/general :: navigation (titre='Liste des Programmes')"></div>

	<div class="container-fluid" style="margin-top: 15px;">
		<div class="row">

	        <div th:replace="/fragments/general :: menu"></div>
	        
	        <div class="col-lg-7">
	        	  <h1>Liste des Programmes</h1>
	              <div th:if="${not #lists.isEmpty(programmes)}">
				        <table id="datatable" class="table table-striped">
				        	<thead>
				            <tr>
				                <th>ID</th>
				                <th>Nom</th>
				                <th>Commentaire</th>				                
				                <th class="col-md-1">Temporaire</th>
				                <th>Date Création</th>
				                <th class="no-sort"></th>
				                <th class="no-sort"></th>
				                <th class="no-sort"></th>
				            </tr>
				            </thead>			            
				            <tbody>
					            <tr th:each="programme : ${programmes}">
					                <td th:text="${programme.id}"></td>
					                <td th:text="${programme.nom}"></td>
					                <td th:text="${programme.commentaire}"></td>
					                <td th:switch="${programme.temporaire}">
									    <div th:case="'O'" class="etat rounded ouverte text-center">O</div>
									    <div th:case="'N'" class="etat rounded fermee text-center">N</div>
									    <div th:case="*" th:text="${programme.temporaire}"></div>
									</td>
					                <td th:text="${#dates.format(programme.dateCreation, 'dd/MM/yyyy - HH:mm')}"></td>	
					                <td><a th:href="${'/programme/show/' + programme.id}"><i class="fas fa-eye"></i></a> </td>
					                <td><a th:href="${'/programme/edit/' + programme.id}"><i class="fas fa-edit"></i></a> </td>
									<td><a th:href="${'/programme/delete/' + programme.id}"><i class="fas fa-trash-alt"></i></a> </td>			               
					            </tr>
				            </tbody>
				        </table>
				   </div>
				   <a href="/programme/new" class="btn btn-primary" style="margin-bottom: 10px;">Nouveau Programme</a>
	          </div>  
		      <!-- /.col-lg-9 -->
       </div>
       <!--  row -->
    </div>
    <!-- container fluid -->
	
	 <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Yucca 2019</p>
      </div>
      <!-- /.container -->
    </footer>

</body>
<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script th:src="@{/js/yucca.js}"></script>

</html>