<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/general :: headerfiles (titre='Yucca - Modifier un Programme')">
	<meta charset="UTF-8">
</head>
<body>

<!-- Navigation -->    
    <div th:replace="fragments/general :: navigation (titre='Créer/Modifier un programme')"></div>

	<div class="container-fluid" style="margin-top: 15px;">
	 
		<div class="row">
			
			<div th:replace="/fragments/general :: menu"></div>
		  	
		  	<br/>
		    <form class="form-horizontal" th:object="${programmeForm}" th:action="@{/programme/add}" method="post">
		
		       <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
		           <p th:text="#{form.hasErrors}">Error Message</p>
		       </div>
		            
		       <input type="hidden" th:field="*{id}"/>
		
		       <div class="form-group" th:class="${#fields.hasErrors('nom')} ? 'form-group has-error' : 'form-group'">
		           <label class="col-sm-2 control-label">Nom:</label>
		           <div class="col-sm-10">
		               <input type="text" class="form-control" th:field="*{nom}" th:errorclass="has-error"/>
		
		               <span class="help-block">
		                  <ul>
		                      <li th:each="err : ${#fields.errors('nom')}" th:text="${err}" />
		                  </ul>
		               </span>
		           </div>
		       </div>
		
		       <div class="form-group" th:class="${#fields.hasErrors('commentaire')} ? 'form-group has-error' : 'form-group'">
		           <label class="col-sm-2 control-label">Commentaire:</label>
		           <div class="col-sm-10">
		               <input type="text" class="form-control" th:field="*{commentaire}" th:errorclass="has-error"/>
		
		               <span class="help-block">
		                  <ul>
		                      <li th:each="err : ${#fields.errors('commentaire')}" th:text="${err}" />
		                  </ul>
		               </span>
		           </div>
		       </div>
		            
		       <div class="form-group" th:class="${#fields.hasErrors('temporaire')} ? 'form-group has-error' : 'form-group'">
		           <label for="temporaire" class="col-sm-2 control-label">Temporaire:</label>
		           <div class="col-sm-10">
						<select class="form-control" th:field="*{temporaire}" th:errorclass="has-error" id="temporaire">
						  <option th:value='N'>N</option>
						  <option th:value='O'>O</option>
						</select>
		               <span class="help-block">
		                  <ul>
		                      <li th:each="err : ${#fields.errors('temporaire')}" th:text="${err}" />
		                  </ul>
		               </span>
		           </div>
		       </div>
		       
		       <div class="row">
			        <div class="col-sm-3">
			            <button type="submit" class="btn btn-primary" style="margin-bottom: 10px;">Valider</button>
			        </div>
		        </div>
		       
		    </form>
		 <!--  row -->
	    </div>
	<!--  container fluid  -->
	</div>

</body>
</html>