<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Yucca - Programme</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>

</head>
<body>
<div class="container">

    <div class="row">
        <div class="col-sm-6">
            <h2>Programme</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Programme Id:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${programme.id}">Programme Id</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Nom:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${programme.nom}">Nom</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Commentaire:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${programme.commentaire}">Commentaire</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 sm-2 control-label">Temporaire:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${programme.temporaire}">Temporaire</p>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
        <div class="col-sm-3">
            <a href="/programme/new">Nouveau Programme</a>
        </div>
    </div>
    </div>
</div>

</body>
</html>