<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/general :: headerfiles (titre='Yucca - Consulter une Correction')">
<body>
 	<!-- Navigation -->    
    <div th:replace="fragments/general :: navigation (titre='Consulter une version')"></div>
    
	<div class="container-fluid" style="margin-top: 15px;">
	
		<div class="row">
		
        	<div th:replace="/fragments/general :: menu"></div>  
        	      
	        <div class="col-lg-7">
	             <form class="form-horizontal">       
	             	<h2 class="my-4" th:if="${!#strings.isEmpty(version.titre)}" th:text="${version.titre}"></h2>
    				<h2 class="my-4" th:unless="${!#strings.isEmpty(version.titre)}">Correction sans titre</h2>
	             	<br/>
	             	<p>
						<a th:href="${'/version/edit/' + version.id}" class="btn btn-default" style ="background-color: grey; color:white;"><i class="fas fa-edit"></i> Modifier</a>
						<a th:href="${'/version/exporter/' + version.id}" class="btn btn-primary"><i class="fas fa-file-import"></i> Exporter</a>
						<a th:href="${'/version/delete/' + version.id}" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Supprimer</a>
	            	 </p>
	            	<div class="form-group">
	             		<p th:text="'NumÈro : ' +  ${version.id}"></p>
	             	</div>
	             	
	             	<div class="form-group">
	             		<p th:text="'Application : '+ ${version.id}"></p>
	             	</div>
	             	
	             	<div class="form-group">
	             		 <p th:text="'…tat : '"></p>
	             		 <div th:switch="${version.etat}">
						    <div th:case="'A'" class="etat rounded text-center">Active</div>
						    <div th:case="'I'" class="etat rounded text-center">Inactive</div>
						    <div th:case="*" th:text="${version.etat}"></div>
						</div>	             		
	             	</div>
	             	
	             	<div class="form-group">
	             		<p th:text="'ExportÈe : '+ 'Oui'"></p>
	             	</div>
	             	
	             	<div class="row">
	             		<img th:if="${version.getTypeProbleme(version.codeProbleme) == 'Jira'}" th:src="@{/img/jira.png}"/>
    					<img th:if="${version.getTypeProbleme(version.codeProbleme) == 'Sesame'}" th:src="@{/img/sesame.png}"/>
    					<div class="my-4" th:text="${version.getLienProbleme(version.codeProbleme)}"></div>
	             	</div>
	             	
	             	<div class="form-group">
					  <label for="probleme"><b>Probl√®me:</b></label>
					  <textarea class="form-control" rows="5" id="probleme" th:text="${version.probleme}"></textarea>
					</div>
					<div class="form-group">
					  <label for="solution"><b>Solution:</b></label>
					  <textarea class="form-control" rows="5" id="solution" th:text="${version.solution}"></textarea>
					</div>            
		            <div class="form-row">
		            	<p th:text="'Programmes rattachÈs :'"></p><i class="fas fa-plus-circle"></i>
		            </div>
		            <div th:if="${not #lists.isEmpty(version.programmes)}">
				        <table id="datatable" class="table table-striped">
				        	<thead>
				            <tr>
				                <th>ID</th>
				                <th>Nom</th>
				                <th></th>
				                <th></th>
				                <th></th>
				            </tr>
				            </thead>			            
				            <tbody>
					            <tr th:each="programme : ${version.programmes}">
					                <td th:text="${programme.id}"></td>
					                <td th:text="${programme.nom}"></td>
					                <td><a th:href="${'/programme/show/' + programme.id}"> Voir </a> </td>
					                <td><a th:href="${'/programme/edit/' + programme.id}">Edit</a> </td>
									<td><a th:href="${'/programme/delete/' + programme.id}">Delete</a> </td>			               
					            </tr>
				            </tbody>
				        </table>
				   </div>			
	            </form>
	               
	      </div>  
		  <!-- /.col-lg-7 -->
	      
	      <div class="col-lg-3">
	         <form class="form-horizontal">
             	<h2 class="my-4"></h2>
             	<br/>
             	<p th:text="'Responsable : Olivier Mignot'"></p>
             	<p th:text="'Rapporteur : Olivier Mignot'"></p>
             	<p th:text="'CrÈation : ' + ${#dates.format(version.dateCreation, 'dd/MM/yyyy - HH:mm')}"></p>	
             	<p th:text="'Mise ‡ jour : ' + ${#dates.format(version.dateModification, 'dd/MM/yyyy - HH:mm')}"></p>	
             	<div class="form-group">
				  <label for="probleme">Commentaire :</label>
				  <textarea class="form-control" rows="5" id="probleme" th:text="${version.commentaire}"></textarea>
				</div>
			</form>          
       	  </div>	
       	  
       	<!--  row  -->		
        </div>  
    <!--  container-fluid -->      
    </div>
	
	<div th:replace="/fragments/general :: footer"></div>
	<div th:replace="/fragments/general :: footerfiles"></div>

</body>

</html>