.container {
  position : absolute;
  top: 0;
  left: 0;
  right : 0;
  bottom: 0;
}

.container .mat-drawer{
  min-width: 200px;
}

.logo{
  max-height : 80px;
}

#mat-buttons-menu-container{
  display: block;
  height: 400px;
}

.mat-buttons-menu{
  height: 20%;
  font-size : 1.15em;
}

.mat-sidenav-container{
  background-color: white;
  border-top : 5px solid #5c6bc0;
  border-bottom : 5px solid #5c6bc0;
}

.mat-sidenav{
  width : 10%;
  background-color: #5c6bc0;
  color : white;
}

.auto {
  flex: auto;
}

.centered {
  text-align:center;
}

#sideNavContainer {
  height: auto;
}
