<div *ngIf="correctionInput" id="correctionForm" >
  <mat-card class="mat-elevation-z8">
    <mat-card-title>Ajout d'une Correction</mat-card-title> 
    <mat-card-content> 
      <form>
        <div class="topForm">
            <mat-form-field class="fieldForm">
                <mat-label>Auteur :</mat-label>
                <mat-select>
                    <mat-option *ngFor="let auteur of auteurs" [value]="auteur">
                      {{auteur}}
                    </mat-option>
                </mat-select>
              </mat-form-field>
              
              <mat-form-field class="fieldForm">
                  <mat-label>Application :</mat-label>
                  <mat-select>
                      <mat-option *ngFor="let auteur of auteurs" [value]="auteur">
                        {{auteur}}
                      </mat-option>
                  </mat-select>
              </mat-form-field> 
        </div>

        <div class="topForm">
            <mat-form-field id="titreCorrection">            
                <input matInput placeholder="Titre de la correction"/>
            </mat-form-field>
    
            <div id="lienProbleme"> 
              <span>Lien problème : </span>         
              <input name="lienProbleme">
              <button (click)="ajouterLienProbleme()">Ajouter</button>
            </div>
        </div> 

        <div>
          <p>Problème :</p>
          <textarea id="correctionProbleme" name="correctionProbleme" ></textarea>
        </div>

        <div>
            <p>Solution :</p>
            <textarea id="correctionSolution" name="correctionSolution" ></textarea>
        </div>

        <div>
            <p>Commentaires à destination de l'intégration :</p>
            <textarea id="correctionCommentaire" name="correctionCommentaire" ></textarea>
        </div>

        <div class="submit">
          <button mat-raised-button color="primary" class="button" (click)="ajouterUneCorrection()">
                <mat-icon matPrefix>add</mat-icon>
                Ajouter
          </button>
          <button mat-raised-button color="primary" class="button" (click)="ajouterUneCorrection()">
              <mat-icon matPrefix>cancel</mat-icon>
              Annuler
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>

